<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit: contain"
        />
        <title>{% block title %}Bofe{% endblock title %}</title>
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}" />
        <link rel="icon" href="{{ get_url(path='favicon.ico') }}" />
        <script src="{{ get_url(path='script.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="navbar">
                <div class="navbar-start">
                    <a href="/">
                        <div class="brand">
                            <img alt="Bofe" class="brand-icon" src="{{ get_url(path='icon.svg') }}" />

                            <span class="brand-logo">Bofe</span>
                        </div>
                    </a>
                </div>

                <div class="navbar-center max-sm:hidden">
                    <ul class="menu menu-horizontal x-2">
                        {% include 'menu.html' %}
                    </ul>
                </div>

                <div class="navbar-end sm:hidden">
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </div>
                        <ul
                            tabindex="-1"
                            class="menu dropdown-content mt-4"
                        >
                            {% include 'menu.html' %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="layout">
                <main class="main">{% block content %} {% endblock content %}</main>

                <footer class="footer grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
                    <aside class="opacity-75">
                        <p>
                            <a
                                href="https://github.com/bofe-dev/bofe_website"
                                target="_blank"
                                title="{{ trans(key='go-to-source-code', lang=lang) }}"
                            >
                                {{ trans(key="version", lang=lang) }}: {{ config.extra.version }}
                            </a>
                        </p>

                        <p>© 2026 Bofe Group</p>
                    </aside>

                    <nav>
                        <a class="flex gap-2" href="https://github.com/bofe-dev" target="_blank">
                            <img class="icon size-5" src="{{ get_url(path='github.svg') }}" />
                            GitHub
                        </a>
                    </nav>

                    <nav>
                        <a href="/terms">{{ trans(key="terms-of-service", lang=lang) }}</a>
                        <a href="/privacy">{{ trans(key="privacy-policy", lang=lang) }}</a>
                    </nav>

                    <nav>
                        <div class="dropdown dropdown-top">
                            <button class="btn btn-outline btn-accent w-36 justify-between normal-case"  tabindex="0">
                                {{ trans(key="lang-name", lang=lang) }}

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                                  <path fill-rule="evenodd" d="M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z" clip-rule="evenodd" />
                                </svg>
                            </button>

                            <ul class="dropdown-content menu w-36 mb-2" tabindex="0">
                                {% if lang == "en" %}
                                    <li><a href="/es">{{ trans(key="lang-name", lang="es") }}</a></li>
                                {% else %}
                                    <li><a href="{{ current_path | regex_replace(pattern="^es/", rep="/") }}">{{ trans(key="lang-name", lang="en") }}</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="join">
                            <button id="set-theme-system" class="btn btn-outline btn-accent join-item" onclick="setTheme('system')">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                                </svg>
                            </button>
                            <button id="set-theme-light" class="btn btn-outline btn-accent join-item" onclick="setTheme('light')">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                                </svg>
                            </button>
                            <button id="set-theme-dark" class="btn btn-outline btn-accent join-item" onclick="setTheme('dark')">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                                </svg>
                            </button>
                        </div>
                    </nav>
                </footer>
            </div>
        </div>
    </body>
</html>
