{% extends "base.html" %}

{% block title %} {{ super() }} - {{ trans(key="tagline", lang=lang) }} {% endblock title %}

{% block content %}
<section>
    <div class="hero bg-base-200 p-4 rounded-2xl">
        <div class="hero-content text-center">
            <div>
                <h1 class="h1 text-3xl">{{ trans(key="tagline", lang=lang) }}</h1>

                <p class="text-xl">{{ trans(key="description", lang=lang) }}</p>

                <div id="download" class="pt-8 flex flex-wrap justify-center gap-4">
                    <a class="btn btn-outline btn-primary btn-lg" href="https://bofe.app" target="_blank">
                        {{ trans(key="go-to-web-app", lang=lang) }}
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=app.bofe" target="_blank">
                        <img
                            class="h-12"
                            alt="{{trans(key="get-it-on-google-play", lang=lang) }}"
                            src="{{ get_url(path='google-play.svg') }}"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-8 text-center">
    <div class="mockup-browser border border-base-300">
        <div class="mockup-browser-toolbar">
            <div class="input">https://bofe.app/#/javier/roadmap</div>
        </div>

        <div class="relative light-only">
            <img
                class="absolute right-0 w-[120px] h-[48px] object-none object-right-top"
                src="{{ get_url(path='screenshot-light-v0.0.0-alpha.28.jpg') }}"
            />
            <img class="h-[639px] object-cover object-left-top" src="{{ get_url(path='screenshot-light-v0.0.0-alpha.28.jpg') }}" />
        </div>

        <div class="relative dark-only">
            <img
                class="absolute right-0 w-[120px] h-[48px] object-none object-right-top"
                src="{{ get_url(path='screenshot-dark-v0.0.0-alpha.28.jpg') }}"
            />
            <img class="h-[639px] object-cover object-left-top" src="{{ get_url(path='screenshot-dark-v0.0.0-alpha.28.jpg') }}" />
        </div>
    </div>
</section>

<section id="open-source" class="mt-8">
    <div class="hero bg-base-200 p-4 rounded-2xl">
        <div class="hero-content w-full">
            <div class="w-full">
                <h2 class="text-2xl text-center font-bold">{{ trans(key="open-source", lang=lang) }}</h2>

                <p class="mt-4 text-lg">{{ trans(key="open-source-description", lang=lang) }}</p>

                <div class="flex flex-wrap justify-center gap-4 mt-4">
                    <a class="btn btn-outline" href="https://github.com/bofe-dev/bofe" target="_blank">
                        <img alt="GitHub Logo" class="icon size-5" src="{{ get_url(path='github.svg') }}" />
                        {{ trans(key="server-repository", lang=lang) }}
                    </a>

                    <a class="btn btn-outline" href="https://github.com/bofe-dev/bofe_app" target="_blank">
                        <img alt="GitHub Logo" class="icon size-5" src="{{ get_url(path='github.svg') }}" />
                        {{ trans(key="client-repository", lang=lang) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
