<li><a href="{{ get_url(path='/', lang=lang) }}">{{ trans(key="home", lang=lang) }}</a></li>
<li><a href="https://bofe.app/javier/roadmap" target="_blank">
    {{ trans(key="roadmap", lang=lang) }}
    <img class="icon size-4" src="{{ get_url(path='arrow-top-right-on-square-micro.svg') }}" />
</a></li>
<li><a href="{{ get_url(path='/#download', lang=lang) }}">{{ trans(key="download", lang=lang) }}</a></li>
<li><a href="{{ get_url(path='/#open-source', lang=lang) }}">{{ trans(key="open-source", lang=lang) }}</a></li>
